<div class='content'>
	
	<div id="popularCelebs" class="carousel slide" data-ride="carousel" data-interval="false">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#popularCelebs" data-slide-to="0" class="active"></li>
	    <li data-target="#popularCelebs" data-slide-to="1"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    
	    <div class="item active">
	    	<div id='portrait1'></div>
	    	<div class='carousel-caption'>
	    		<h4>Wayne Rooney</h4>
	    		<p id='tweet'></p>
	    	</div>
	    </div>

	    <div id='portrait2' class="item">
	      <div class='carousel-caption'>
	    		<h4>Kanye West</h4>
	    	</div>
	    </div>
	   
	  </div><!--END OF COURSEL-INNER -->

	</div>



</div>
