<% if @password_error %>
	<p class='error'>passwords don't match</p>
<% end %>

<% if @missing_fields_error %>
	<p class='error'>please enter all fields</p>
<% end %>

<% if @email_taken_error %>
	<p class='error'>email has already been taken</p>
<% end %>

<% if @password_length_error %>
	<p class='error'>password is too short. min 6 characters</p>
<% end %>

<p>Register:</p>
<form action='/account' method='POST'>
	<input name='fname' placeholder='first name'>
	<input name='lname' placeholder='last name'>
	<input name='handle' placeholder='@twitter_handle'>
	<input name='email' placeholder='email'>
	<input name='password' type='password' placeholder='password'>
	<input name='password_confirm' type='password' placeholder='password'>
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Create</button>
</form>