<% if @password_error %>
	<p style='color: red;'>Passwords Don't Match</p>
<% end %>

<% if @missing_fields_error %>
	<p style='color: red;'>Please Enter All Fields</p>
<% end %>

<% if @email_taken_error %>
	<p style='color: red;'>Email Taken</p>
<% end %>

<p>Register:</p>
<form action='/account' method='POST'>
	<input name='fname' placeholder='first name'>
	<input name='lname' placeholder='last name'>
	<input name='handle' placeholder='@twitter_handle'>
	<input name='email' placeholder='email'>
	<input name='password' type='password' placeholder='password'>
	<input name='password_confirm' type='password' placeholder='password'>
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Create</button>
</form>