<div class='content'>
	<% if @password_error %>
		<p class='error'>passwords don't match</p>
	<% end %>

	<% if @missing_fields_error %>
		<p class='error'>please enter all fields</p>
	<% end %>

	<% if @email_taken_error %>
		<p class='error'>email already registered</p>
	<% end %>

	<% if @handle_taken_error %>
		<p class='error'>handle already registered</p>
	<% end %>

	<% if @password_length_error %>
		<p class='error'>password is too short. min 6 characters</p>
	<% end %>
	<div class='regForm'>
		<h4>Register:</h4>
		<form action='/account' method='POST'>
			<div class='row'><label>First Name:</label><input name='fname' placeholder='first name'></row>
			<div class='row'><label>Last Name:</label><input name='lname' placeholder='last name'></div>
			<div class='row'><label>Twitter Handle:</label><input name='handle' placeholder='twitter handle'></div>
			<div class='row'><label>Email:</label><input name='email' placeholder='email'></div>
			<div class='row'><label>Password:</label><input name='password' type='password' placeholder='password'></div>
			<div class='row'><label>Confirm Password:</label><input name='password_confirm' type='password' placeholder='password'></div>
			<div class='row'><input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden"></div>
			<button>create</button>
		</form>
	</div>
</div>