<form method="POST" action="/session">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<input name="_method" value="DELETE" type="hidden">
	<button>Logout</button>
</form>

<div id='portrait'></div>

<div id='info'>
<h4><%= @user.fname %> <%= @user.lname %></h4>
<p id='tweet'></p>
<p id='created_at'></p>
</div>


