@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);

h2, h4, p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color:black;
}

p{
	font-size: 15px;
}

body{
	margin-bottom: 100px;
}

div.content{
	margin-top:20px;
}

div.regForm{
	padding-top: 50px;
}

form{
	text-align: center;
}

label{
	width:20%;
	text-align: right;
	font-family: 'Roboto Condensed', sans-serif;
}

input{
	margin:5px;
	font-family: 'Roboto Condensed', sans-serif;
}

a{
	text-decoration: none;
	color: black
}

svg{
	display: block;
	margin: 0 auto;

}

button{
	text-align: center;
	margin: auto;
	background: none;
	border:none;
	padding:0;
	outline: none;
	font-family: 'Roboto Condensed', sans-serif;
}

#header{
	margin:50px;
	text-align: center;
}


p#tweet{
	padding: 0 80px;
}

div#userKey{
	box-shadow: 5px 5px 5px #888888;
}

.hidden{
	display:none;
}

.text-hover{
	opacity: .5
}

.selected{
	stroke: hotpink;
	stroke-width: 5px;
}

.error{
	color: red;
	font-style: italic;
	font-size: 12px;
}

a:hover{
	color: black;
	text-decoration: none;
}

.carousel-indicators li{
	background-color: black;
	opacity: .5;
}

.carousel-indicators .active{
	background-color: hotpink;
	opacity: 100
}

ol.carousel-indicators{
	margin:0;
}

.carousel{
	margin-top: 50px;
}
.carousel-caption{
	padding: 0;
	bottom:0;
	background:rgba(255,255,255,0.6);
}



