h2{
	font-family: Courier;
	text-align: center;
}

h4{
	font-family: Courier;
	text-align: center;
}

div{
	margin: 0 auto;
}

p{
	font-family: Courier;
	text-align: center
}

form{
	text-align: center;
}

a{
	text-decoration: none;
	color: black
}

svg{
	display: block;
	margin: auto;
}

button{
	text-align: center;
	margin: auto;
}

.text-hover{
	opacity: .5
}

.selected{
	stroke: hotpink;
	stroke-width: 5px;
}

.error{
	color: red;
	font-style: italic;
	font-size: 12px;
}

a:hover{
	color: black;
	text-decoration: none;
}

.carousel-indicators{
	color:black;
}