<!DOCTYPE html>
<html>
<head>
  <title>TwitterPortrait</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='header'><a href='/'><h2>Twitter Portrait</h2></a></div>
<%= yield %>

</body>
</html>
